<div class="mainFooter">
    <div class="myUl">
        <div class="logo">
            <img src="assets/onlyLogo.png" routerLink="/profile" alt="">
        </div>
        <div class="lists">
            <p><span class="tooltiptext" routerLink="/profile">Profile</span></p>
            <p><span class="tooltiptext" routerLink="/work">Work</span></p>
            <p><span class="tooltiptext" routerLink="/projects">Projects</span></p>
            <p><span class="tooltiptext" routerLink="/skills">Skills</span></p>
            <p><span class="tooltiptext" routerLink="/education">Education</span></p>
            <p><span class="tooltiptext" routerLink="/otherSkills">Activities</span></p>
            <p><span class="tooltiptext" routerLink="/resume">Resume</span></p>
            <p><span class="tooltiptext" routerLink="/contactMe">Contact Me</span></p>
        </div>
    </div>
</div>
