<div class="mainFooter">
    <ul>
        <li><i class="fa fa-user-circle" routerLink="/profile"><span class="tooltiptext">Profile</span></i></li>
        <li><i class="fa fa-folder" routerLink="/work"><span class="tooltiptext">Work</span></i></li>
        <li><i class="fa fa-calendar-check-o" routerLink="/projects"><span class="tooltiptext">Projects</span></i></li>
        <li><i class="fa fa-bullseye" routerLink="/skills"><span class="tooltiptext">Skills</span></i></li>
        <li><i class="fa fa-graduation-cap" routerLink="/education"><span class="tooltiptext">Education</span></i></li>
        <li><i class="fa fa-soccer-ball-o" routerLink="/otherSkills"><span class="tooltiptext">Activities</span></i></li>
        <li><i class="fa fa-vcard-o" routerLink="/resume"><span class="tooltiptext">Resume</span></i></li>
        <li><i class="fa fa-paper-plane" routerLink="/contactMe"><span class="tooltiptext">Contact Me</span></i></li>
    </ul>
</div>
