<div class="mainFooter">
    <ul>
        <div class="logo">
            <img src="assets/onlyLogo.png" routerLink="/profile" alt="">
        </div>
        <div class="lists">
            <li><span class="tooltiptext" routerLink="/profile">Profile</span></li>
            <li><span class="tooltiptext" routerLink="/work">Work</span></li>
            <li><span class="tooltiptext" routerLink="/projects">Projects</span></li>
            <li><span class="tooltiptext" routerLink="/skills">Skills</span></li>
            <li><span class="tooltiptext" routerLink="/education">Education</span></li>
            <li><span class="tooltiptext" routerLink="/otherSkills">Activities</span></li>
            <li><span class="tooltiptext" routerLink="/resume">Resume</span></li>
            <li><span class="tooltiptext" routerLink="/contactMe">Contact Me</span></li>
        </div>
    </ul>
</div>
