.mainFooter {
    margin: 4rem auto 4rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    display: flex;
    // border: 1px solid #7c93c6;
    gap: 1.5rem;
    box-shadow: 3px 5px 15px -5px #7c93c6;
    bottom: 0;
    background-color: #292929;

    i {
        font-size: 30px;
        color: white;
        cursor: pointer;

        .tooltiptext {
            visibility: hidden;
            width: fit-content;
            background-color: #1b1b1b;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            margin-top: -1rem;
            font-size: 20px;
            font-family: monospace;
            box-shadow: 0px 0px 10px 4px gray;
          }
    }

    i:hover {
        font-size: 40px;
        transition: 0.3s;
        text-shadow: rgb(211, 211, 211) 0px 0px 2px;
        margin-top: -1.5rem;
        color: rgb(255, 208, 0);
        z-index: 999;

        .tooltiptext {
            visibility: visible;
            text-shadow:none;
          }
    }
    i:after{
        transition: 0.3s;
    }
}
@media (max-width : 939px) {
    .mainFooter{
        visibility: hidden;
        display: none;
    }
}