<div class="mainHeader">
    <div class="logo">
        <img class="img" routerLink="/" src="assets/onlyLogo.png" alt="">
    </div>
    <div class="titles">
        <ul class="mainUl">
            <li routerLink="/profile">Profile</li>
            <li routerLink="/work">Work</li>
            <li routerLink="/projects">Projects</li>
            <li routerLink="/skills">Skills</li>
            <li routerLink="/education">Education</li>
            <li routerLink="/otherSkills">Activities</li>
            <li routerLink="/resume">Resume</li>
        </ul>
    </div>
</div>