.mainHeader{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: transparent;
    // border: 1px solid #37486b;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 0px #0d1320;

    .logo{
        .img{
            height: 3rem;
            width: auto;
            border-radius: 15px;
            cursor: pointer;
        }
    }
    .titles{
        .mainUl{
            display: flex;
            list-style: none;
            gap: 2rem;

            li{
                color: white;
                font-size: 20px;
                font-family: math;
                cursor: pointer;
                color: #7c93c6;
            }
        }
    }
}