.mainHeader{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #292929;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 0px #414141;

    .logo{
        .img{
            height: 3rem;
            width: auto;
            border-radius: 15px;
            cursor: pointer;
        }
        .img:hover{
            box-shadow: 1px 1px 10px 1px white;
            transition: 0.3s;
        }
    }
    .titles{
        .mainUl{
            display: flex;
            list-style: none;
            gap: 2rem;

            li{
                color: white;
                font-size: 22px;
                font-family: monospace;
                cursor: pointer;
                color: #7c93c6;
            }
            li:hover{
                text-shadow: rgb(211, 211, 211) 3px 0px 6px;
                transition: 0.3s;
            }
        }
    }
}
.fa-bars{
    font-size: 35px;
    top: 0;
    margin: 0.5rem 0 1rem 1rem;
    color: white;
}
.sidenav{
    position: absolute;
    width: 100%;
    transition: 0.7s;
    z-index: 999;
    top: 10;

    ul{
        margin: 0;
        top: 0;
        position: absolute;
        width: fit-content;
        background-color: #292929;
        border-radius: 15px;
        text-align: left;
        padding: 0 20px 0 10px;
        box-shadow: 5px 1px 10px 5px rgb(71, 71, 71);
        left: 5;

        li{
            list-style: none;
            margin: 3rem 0;
            font-size: 25px;
            color: white;
            font-family: math;

            i{
                color: rgb(255, 208, 0);
                margin-right: 1rem;
            }
        }
    }
}
@media (max-width : 933px) {
    .mainHeader{
        display: none;
        visibility: hidden;
    }
}

@media (min-width : 933px) {
    .sidenav{
        display: none;
        visibility: hidden;
    }
}
@media (min-width : 933px) {
    .fa-bars{
        display: none;
        visibility: hidden;
    }
}