<h1 class="heading">Some Freelance and Personal Projects</h1>
<div class="main">
    <ul class="cards">
        <li class="cards_item" id="item_salad">
            <div class="card">
                <div class="card_price">1 Jan 2023 to 7 Mar 2023</div>
                <div class="card_image"><img src="assets/mernLogin.jpg" alt="mixed vegetable salad in a mason jar. ">
                </div>
                <div class="card_content">
                    <h2 class="card_title">MERN Stack CRUD Application with Login and Register</h2>
                    <div class="card_text">
                        <p>
                            <b>1)</b> User can register new account. <br>
                            <b>2)</b> Already registered user can directly login to the system using username and password. <br>
                            <b>3)</b> Logged in user can perform the CRUD operation. <br>
                            <b>4)</b> User can create new record also update the existing record and delete the record. <br>
                            <b>5)</b> Every user has its own user id and own number of record to perform the CRUD operation.
                        </p>
                    </div>
                </div>
                <div class="projectCode">
                    <button class="projectCodeBtn darkShadow" (click)="openMernLogin()">Show Project Code</button>
                </div>
            </div>
        </li>

        <li class="cards_item" id="item_reuben">
            <div class="card">
                <div class="card_price">5 Feb 2021 to 21 Apr 2021</div>
                <div class="card_image"><img src="assets/mean3.png"
                        alt="a Reuben sandwich on wax paper. "></div>
                <div class="card_content">
                    <h2 class="card_title">Student Record Keeping (Freelance)</h2>
                    <div class="card_text">
                        <p>
                            <b>1)</b> Admin can create new Record of student. <br>
                            <b>2)</b> He can also upload the image.<br>
                            <b>3)</b> The list of students will be displayed in tabuler format. <br>
                            <b>4)</b> The Image of student will be shown in the table with other information of student. <br>
                            <b>5)</b> Admin can update the record of perticular existing student and delete the record accoording to the need.
                        </p>
                    </div>
                </div>
                <div class="projectCode">
                    <button class="projectCodeBtn darkShadow" (click)="openMeanCrud()">Show Project Code</button>
                </div>
            </div>
        </li>
        <li class="cards_item" id="item_fig">
            <div class="card">
                <div class="card_price">15 Aug 2020 to  29 Apr 2021</div>
                <div class="card_image"><img src="assets/snippet.png"
                        alt="A side view of a plate of figs and berries. "></div>
                <div class="card_content">
                    <h2 class="card_title">Snippet Visualization System <br> (College Project)</h2>
                    <div class="card_text">
                        <p> <b>1)</b> To perform pre processing on collected data. <br>
                            <b>2)</b> To perform similarity identification and ranking the snippets using k
                            means algorithm. <br>
                            <b>3)</b> To perform optimization of the snippets for Visualization purpose. <br>
                            <b>4)</b> To analyse the performance of proposed system via experimental
                            evaluation of results.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="nextBtn">
    <button class="btnNext shadowBtn" (click)="openSkills()">Check Technical Skills &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>