<div class="mainClass marginTop">
    <h1 class="heading">Some Freelance and Personal Projects</h1>
    <div class="main">
        <ul class="cards">
            <li class="cards_item" id="item_salad">
                <div class="card">
                    
                    <div class="card_image"><img src="assets/mernLogin.jpg" alt="mixed vegetable salad in a mason jar. ">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">MERN Stack CRUD Application with Login and Register</h2>
                        <div class="card_text">
                            <p>
                                <b>1)</b> User can register new account. <br>
                                <b>2)</b> Already registered user can directly login to the system using username and password. <br>
                                <b>3)</b> Logged in user can perform the CRUD operation. <br>
                                <b>4)</b> User can create new record also update the existing record and delete the record. <br>
                                <b>5)</b> Every user has its own user id and own number of record to perform the CRUD operation.
                            </p>
                        </div>
                    </div>
                    <div class="projectCode">
                        <div class="card_price">1 Jan 2023 to 7 Mar 2023</div>
                        <button class="projectCodeBtn darkShadow" (click)="openMernLogin()">Open Source Code</button>
                    </div>
                </div>
            </li>
    
            <li class="cards_item" id="item_reuben">
                <div class="card">
                    
                    <div class="card_image"><img src="assets/mean3.png"
                            alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Student Record Keeping (Freelance)</h2>
                        <div class="card_text">
                            <p>
                                <b>1)</b> Admin can create new Record of student. <br>
                                <b>2)</b> He can also upload the image.<br>
                                <b>3)</b> The list of students will be displayed in tabuler format. <br>
                                <b>4)</b> The Image of student will be shown in the table with other information of student. <br>
                                <b>5)</b> Admin can update the record of perticular existing student and delete the record accoording to the need.
                            </p>
                        </div>
                    </div>
                    <div class="projectCode">
                        <div class="card_price">5 Feb 2021 to 21 Apr 2021</div>
                        <button class="projectCodeBtn darkShadow" (click)="openMeanCrud()">Open Source Code</button>
                    </div>
                </div>
            </li>
            <li class="cards_item" id="item_fig">
                <div class="card">
                    
                    <div class="card_image"><img src="assets/snippet.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Snippet Visualization System <br> (College Project)</h2>
                        <div class="card_text">
                            <p> <b>1)</b> TWe introduced Snippet visualization technique to visualize the collection of textual
                                resul returned from web a query. The method builds meaningful layouts that optimize the
                                placement of snippets that considers both overlapping removal and preservation of
                                neighborhood structures. <br>
                                <b>2)</b>Since snippet visualization system relays only on information extracted from web
                                result, it can be plugged into search engines in a straightforward manner. <br>
                                <b>3)</b> One direction that this work might continue on is to improve on the accuracy of similarity
                                calculation between documents by employing different similarity calculation strategies.<br>
                                <b>4)</b> Although the current scheme proved more accurate than traditional methods, there are still
                                room for improvement.</p>
                        </div>
                        <div class="card_price">15 Aug 2020 to  29 Apr 2021</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>