.main {
  margin: 0 auto;
}
.heading{
  text-align: center;
  font-size: 40px;
  font-family: math;
  color: #7c93c6;
  text-shadow: rgb(153, 153, 153) 1px 0 3px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto 3rem;
}

.card_image {
  max-height: 250px;
  margin-top: -24px;
  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
  }
  
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
  }
}

.card {
  background-color: #292929;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .projectCode{
    text-align: right;

    .projectCodeBtn{
        margin: 2rem 1rem 1rem;
        background-color: transparent;
        border: 3px solid white;
        padding: 1rem;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bold;
        color: white;
    }
    .projectCodeBtn:hover{
        background-color: #0d1320;
        border: 3px solid #7c93c6;
        color: #7c93c6;
    }
  }
}

.card_content {
  padding: 1rem 1rem 2rem;
  z-index: 1;
  display: block;
}

.card_title {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  line-height: 60px;
  margin-top: -15px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 2px;
  color: rgb(255, 208, 0);
}

.card_text {
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  p {
    line-height: 30px;
    max-width: 700px;
    font-family: math;
    font-size: 20px;
  }
}

.card_price {
  position: relative;
  top: 10px;
  left: 10px;
  text-align: left;
  color:#7c93c6;
  font-family: monospace;
  height: 24px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: black 3px 0px 6px;
}

#item_fig .card:after {
  font-family: "Raleway", sans-serif;
  color: rgba(234, 225, 175, 0.8);
  font-weight: 600;
  // font-style: italic;
  text-transform: uppercase;
  display: block;
  width: 10ch;
  height: 1.5em;
  padding: 0.2em 0.4em;
  position: relative;
  bottom: calc(100% - 2.5em);
  left: 1em;
}

.skill{
  text-align: center;
  margin-top: 2rem;

  .skillBtn{
    padding: 1rem;
    border: 3px solid #7c93c6;
    background-color: transparent;
    border-radius: 10px;
    color: #7c93c6;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
  }
  .skillBtn:hover{
    border: 3px solid #0d1320;
    background-color: #7c93c6;
    color: #0d1320;
  }
}

@media (max-width : 767px) {
  .mainClass{
    margin: 2rem auto 0;
    width: 90%;
  }
  .heading{
    font-size: 35px;
  }
  .card_title{
    font-size: 20px;
    line-height: 35px;
  }
  .card_price{
    font-size: 20px;
  }
  .card{
    .projectCode{
      .projectCodeBtn{
        padding: 0.5rem;
        font-size: 15px;
      }
    }
  }
}