<h1 class="heading">Some Freelance and Personal Projects</h1>
<div class="main">
    <ul class="cards">
        <li class="cards_item" id="item_salad">
            <div class="card">
                <div class="card_price">1 Jan 2023 to 7 Mar 2023</div>
                <div class="card_image"><img src="assets/mernLogin.jpg" alt="mixed vegetable salad in a mason jar. ">
                </div>
                <div class="card_content">
                    <h2 class="card_title">MERN Stack CRUD Application with Login and Register</h2>
                    <div class="card_text">
                        <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy
                            greens and seasonal vegetables, fresh from the farmer's market.</p>
                        <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic
                            vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of
                            protein for $2 more. </p>
                    </div>
                </div>
                <div class="projectCode">
                    <button class="projectCodeBtn darkShadow" (click)="openMernLogin()">Show Project Code</button>
                </div>
            </div>
        </li>

        <li class="cards_item" id="item_reuben">
            <div class="card">
                <div class="card_price">5 Feb 2021 to 21 Apr 2021</div>
                <div class="card_image"><img src="assets/mean3.png"
                        alt="a Reuben sandwich on wax paper. "></div>
                <div class="card_content">
                    <h2 class="card_title">Student Record Keeping</h2>
                    <div class="card_text">
                        <p>All great meals take time, but this one takes it to the next level! More than 650 hours of
                            fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben
                            sandwiches.
                        </p>
                        <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye
                            bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle.
                            The only thing we didn't make on the premises is the toothpick (but we're looking into how
                            to do that). </p>
                        <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread,
                            creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                        <p>
                        <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for
                            $1.</p>
                    </div>
                </div>
                <div class="projectCode">
                    <button class="projectCodeBtn darkShadow" (click)="openMeanCrud()">Show Project Code</button>
                </div>
            </div>
        </li>
        <li class="cards_item" id="item_fig">
            <div class="card">
                <div class="card_price">15 Aug 2020 to  29 Apr 2021</div>
                <div class="card_image"><img src="assets/snippet.png"
                        alt="A side view of a plate of figs and berries. "></div>
                <div class="card_content">
                    <h2 class="card_title">Snippet Visualization System</h2>
                    <div class="card_text">
                        <p>A succulent sextet of fresh figs join with a selection of bodacious seasonal berries in this
                            refreshing, shareable dessert.</p>
                        <p>Choose your drizzle: cherry-balsamic vinegar, local honey, or housemade chocolate sauce. </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="skill">
    <button class="skillBtn shadowBtn" (click)="openSkills()">Check Technical Skills &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>