.mainClass {

    .heading {
        font-size: 40px;
        text-align: center;
        color: #7c93c6;
        font-family: math;
        margin: 3rem 0;
        text-shadow: rgb(153, 153, 153) 1px 0 3px;
    }

    .innerClass {
        display: inline;

        .cardClass {
            align-items: center;
            width: 50%;
            margin: 4rem auto;
            border-radius: 15px;
            background-color: #292929;
            padding: 1rem;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);

            .images {
                display: flex;
                gap: 2rem;
                text-align: left;

                .divImg{
                    display: flex;

                    img {
                        height: 8rem;
                        width: auto;
                    }
                }
                .headingDetails{

                    .title {
                        font-size: 35px;
                        margin: 3px 0 0;
                        font-family: math;
                        color: white;
                    }
    
                    .disg {
                        font-size: 25px;
                        margin: 3px 0 0;
                        color: rgb(255, 208, 0);
                        font-family: monospace;
                    }

                    .date {
                        font-size: 25px;
                        font-family: math;
                        margin: 15px 0 0;
                        color: #7c93c6
                    }
                }
            }

            .mainInfo {
                display: inline;

                .details {
                    font-family: monospace;
                    font-size: 20px;
                    margin: 5px 0 0;
                    color: white;
                    line-height: 25px;
                }
            }
        }

    }

    .innerClass:hover {
        transition: 0.5s;
    }
}


@media (max-width : 939px) {
    .mainClass {
        width: 80%;
        margin: 0 auto;

        .heading{
            font-size: 30px;
        }
        .innerClass {
            display: inline;
            
            .cardClass {
                background-color: transparent;
                margin-bottom: 7rem;
                padding: 1rem;
                border-radius: none;
                border: none;
                display: inline;
                box-shadow: none;

                .mainInfo{
                    .title{
                        font-size: 30px;
                    }
                }

                .images {
                    display: inline;
                    text-align: center;
    
                    .divImg{
                        display: block;
                        margin: 0 0 1rem;
                        img {
                            height: 8rem;
                            width: auto;
                            text-align: center;
                        }
                    }
                    .headingDetails{
                        
                        .title {
                            font-size: 35px;
                            margin: 3px 0 0;
                            font-family: math;
                            color: white;
                        }
        
                        .disg {
                            font-size: 25px;
                            margin: 3px 0 0;
                            color: rgb(255, 208, 0);
                            font-family: monospace;
                        }
    
                        .date {
                            font-size: 25px;
                            font-family: math;
                            margin: 15px 0 0;
                            color: #7c93c6
                        }
                    }
                }
            }

        }
    }
}
hr{
    margin: 0.5rem 0;
    color: white;
}
@media (max-width : 939px) {
    .marginTop{
        margin-top: 1rem;
        margin-bottom: 8rem;
    }
}