.mainClass {

    .heading {
        font-size: 40px;
        text-align: center;
        color: #7c93c6;
        font-family: math;
        margin: 3rem 0;
        text-shadow: rgb(153, 153, 153) 1px 0 3px;
    }

    .innerClass {
        display: inline;

        .cardClass {
            display: flex;
            gap: 1rem;
            align-items: center;
            width: 50%;
            margin: 4rem auto;
            border-radius: 15px;
            background-color: #292929;
            padding: 1rem;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);

            .images {
                img {
                    height: 100%;
                    width: auto;
                }
            }

            .mainInfo {
                display: inline;

                .title {
                    font-size: 35px;
                    margin: 5px 0 0;
                    font-family: math;
                    color: white;
                }

                .disg {
                    font-size: 25px;
                    margin: 5px 0 0;
                    color: rgb(255, 208, 0);
                    font-family: monospace;
                }

                .details {
                    font-family: monospace;
                    font-size: 20px;
                    margin: 5px 0 0;
                    color: white;
                    line-height: 25px;
                }

                .dateAndExp {
                    display: flex;
                    justify-content: space-between;

                    .date {
                        font-size: 25px;
                        font-family: math;
                        margin: 15px 0 0;
                        color: #7c93c6
                    }

                    .expBtn {
                        background-color: transparent;
                        border: 2px solid white;
                        border-radius: 10px;
                        font-family: monospace;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;
                    }

                    .expBtn:hover {
                        background-color: white;
                        color: black;
                        border: 2px solid black;
                        box-shadow: 0px 0px 10px 2px white;
                    }
                }
            }
        }

    }

    .innerClass:hover {
        transition: 0.5s;
    }
}


@media (max-width : 939px) {
    .mainClass {
        width: 80%;
        margin: 0 auto;

        .heading{
            font-size: 30px;
        }
        .innerClass {
            display: inline;
            
            .cardClass {
                background-color: transparent;
                margin-bottom: 7rem;
                padding: 1rem;
                border-radius: none;
                border: none;
                display: inline;
                box-shadow: none;

                .mainInfo{
                    .title{
                        font-size: 30px;
                    }
                }

                .images {
                    text-align: center;

                    img {
                        height: 7rem;
                        width: auto;
                        margin: 2rem 0;
                    }
                }
            }

        }
    }
}
hr{
    margin: 0.5rem 0;
    color: white;
}
@media (max-width : 939px) {
    .marginTop{
        margin-top: 1rem;
        margin-bottom: 8rem;
    }
}