.mainProfile {
  padding: 2rem;
  display: inline;

  .nameImage {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;

    .nameAndSummary {
      .myNameIs {
        margin: 1rem 0;
        font-family: monospace;
        font-size: 30px;
        color: white;
      }

      .name {
        margin: 1rem 0 0.1rem;
        font-family: math;
        color: #7c93c6;
        font-size: 60px;
      }

      .disg {
        font-family: monospace;
        font-size: 30px;
        color: white;

        .desk {
          color: rgb(255, 208, 0);
        }

        span{
          color: rgb(255, 208, 0);
          font-size: 60px;
          font-style: italic;
        }
      }
    }

    .image {
      .img {
        height: 20rem;
        width: auto;
        border-radius: 20px;
      }
    }
  }

  .summary {
    padding: 0 3rem;
    font-family: monospace;
    margin-top: 3rem;
    color: #7c93c6;
    line-height: 35px;
  }

  .mainButton {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

    .checkOutBtn {
      background-color: #292929;
      border: 3px solid #7c93c6;
      border-radius: 10px;
      padding: 1rem;
      font-size: 20px;
      font-family: monospace;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #7c93c6;
      font-weight: bold;
      cursor: pointer;
    }

    .checkOutBtn:hover {
      background-color: #7c93c6;
      border: 3px solid #0d1320;
      color: #0d1320;
    }
  }

  .otherMainInfo {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 4rem auto 0;
    gap: 2rem;
    width: 50%;

    .mailMain {
      display: inline;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 33%;

      i {
        color: rgb(255, 208, 0);
        font-size: 40px;
      }

      h2 {
        color: #7c93c6;
        font-size: 20px;
        font-family: math;
      }
    }

    .phoneMain {
      display: inline;
      align-items: center;
      width: 33%;

      i {
        color: rgb(255, 208, 0);
        font-size: 40px;
      }

      h2 {
        color: #7c93c6;
        font-size: 20px;
        font-family: math;
      }
    }

    .addressMain {
      display: inline;
      gap: 1rem;
      align-items: center;
      width: 33%;

      i {
        color: rgb(255, 208, 0);
        font-size: 40px;
      }

      h2 {
        color: #7c93c6;
        font-size: 20px;
        font-family: math;
      }
    }

    .checkPrBtn {
      padding: 0.8rem 1rem;
      border-radius: 10px;
      border: 3px solid #7c93c6;
      background-color: transparent;
      color: #7c93c6;
      font-size: 18px;
      cursor: pointer;
      font-weight: bold;
    }

    .checkPrBtn:hover {
      background-color: #7c93c6;
      border: 3px solid #0d1320;
      color: #0d1320;
    }
  }
}

@media (max-width : 939px) {
  .mainProfile{
    margin-top: 2rem;
    text-align: center;

    .nameImage{
      display: inline;
      text-align: center;

    }
    .otherMainInfo{
      text-align: center;
      display: flow-root;
      width: 70%;

      .mailMain{
        text-align: center;
        display: inline;

        h2{
          line-height: 30px;
          letter-spacing: 3px;
        }
        .fa-envelope-o{
          text-align: center;
        }
      }
      .phoneMain{
        h2{
          line-height: 30px;
          letter-spacing: 3px;
        }
      }
      .addressMain{
        h2{
          line-height: 30px;
          letter-spacing: 2px;
        }
      }
    }
  }
}