<div class="mainProfile">
    <div class="imgSocial">
        <div class="mainImage">
            <img class="image" src="assets/photo.jpg" alt="">
        </div>
        <div class="socials">
            <button class="handles" (click)="openGithub()">
                <i class="fa fa-github"></i>
                <a target="_blank" href="https://github.com/Harshal-Shelar">
                    https://github.com/Harshal-Shelar</a>
            </button>
            <button class="handles" (click)="openLinkedin()">
                <i class="fa fa-linkedin"></i>
                <a target="_blank" href="https://www.linkedin.com/in/harshal-shelar-a562b8154/">
                    https://www.linkedin.com/in/harshal-shelar-a562b8154/</a>
            </button>
        </div>
    </div>
    <div class="mainInfo">
        <div class="nameAndDes">
            <h1 class="name">Harshal Sanjay Shelar</h1>
            <h2 class="des">Software Engineer</h2>
        </div>
        <div class="mainSummary">
            <h2 class="summaryHeading">Profile Summary</h2>
            <p class="summaryDetails">{{profileSummary}}</p>
        </div>
        <div class="mainContacts">
            <h3 class="contactsHeading">Contact Details</h3>
            <div class="contact">
                <i class="fa fa-phone"></i><span>8600480438</span>
            </div>
            <div class="contact">
                <i class="fa fa-envelope-o"></i><span>harshalshelar8251@gmail.com</span>
            </div>
            <div class="contact">
                <i class="fa fa-map-marker"></i><span>3207, Near phatdare wada, Ganapati Road, Ashta</span>
            </div>
        </div>
    </div>
</div>