.mainProfile {
  padding: 2rem;
  display: inline;

  .nameImage {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;

    .nameAndSummary {
      .myNameIs {
        margin: 1rem 0;
        font-family: monospace;
        font-size: 30px;
      }

      .name {
        margin: 1rem 0 0.1rem;
        font-family: math;
        color: #7c93c6;
        font-size: 60px;
      }

      .disg {
        font-family: monospace;
        font-size: 30px;

        .desk{
          color: rgb(255, 208, 0);
        }
      }
    }
    .image{
      .img{
        height: 20rem;
        width: auto;
        border-radius: 20px;
        box-shadow: 1px 1px 10px 5px #0d1320;
      }
    }
  }
  .summary{
    padding: 0 3rem;
    font-family: monospace;
    margin-top: 3rem;
    color: #7c93c6;
    line-height: 35px;
  }

  .mainButton{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

    .checkOutBtn{
      background-color: transparent;
      border: 3px solid #7c93c6;
      border-radius: 10px;
      padding: 1rem;
      font-size: 20px;
      font-family: monospace;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #7c93c6;
      font-weight: bold;
      cursor: pointer;
    }
    .checkOutBtn:hover{
      background-color: #7c93c6;
      border: 3px solid #0d1320;
      color: #0d1320;
    }
  }
  .otherMainInfo{
    margin-top: 2rem;

    .mailMain{
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: left;

      i{
        color: rgb(255, 208, 0);
        font-size: 40px;
      }
      h2{
        color: #7c93c6;
        font-size: 35px;
        font-family: math;
      }
    }

    .phoneMain{
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: right;

      i{
        color: rgb(255, 208, 0);
        font-size: 40px;
      }
      h2{
        color: #7c93c6;
        font-size: 35px;
        font-family: math;
      }
    }

    .addressMain{
      display: flex;
      gap: 1rem;
      align-items: center;
      text-align: left;
      justify-content: center;

      i{
        color: rgb(255, 208, 0);
        font-size: 40px;
      }
      h2{
        color: #7c93c6;
        font-size: 35px;
        font-family: math;
      }
    }
  }
}