<div class="mainProfile">
    <div class="nameImage">
        <div class="nameAndSummary marginTop">
            <h3 class="myNameIs">My Name is,</h3>
            <h1 class="name">Harshal Sanjay Shelar</h1>
            <h2 class="disg">I am a <br> <span class="soft">Software Engineer</span></h2>
        </div>
        <div class="image">
            <img class="img" src="assets/casual.png" alt="">
        </div>
    </div>
    <h1 class="summary"> <em> Immediate joiner. Looking for a better opportunity as an Angular or MEAN STACK
            developer With 2 years of relevant Industrial experience in Angular Technology in the
            IT Industry. Completed B.Tech in Information Technology (6.2 CGPA). And
            passionate about learning new technologies Expert in creating responsive web
            applications and have knowledge of backend technologies like Node js.
        </em>
    </h1>
    <div class="mainButton">
        <button class="checkOutBtn shadowBtn" (click)="openGithub()"> <i class="fa fa-github"></i>
            <span>Github</span></button>
        <button class="checkOutBtn shadowBtn" (click)="openLinkedin()"> <i class="fa fa-linkedin"></i> <span>
                Linkedin</span></button>
    </div>
    <div class="otherMainInfo">
        <div class="mailMain">
            <i class="fa fa-envelope-o"></i>
            <h2>
                harshalshelar8251@gmail.com
            </h2>
        </div>
        <div class="phoneMain">
            <i class="fa fa-phone"></i>
            <h2>
                8600480438
            </h2>
        </div>

        <div class="addressMain">
            <i class="fa fa-map-marker"></i>
            <h2>
                3207, Phadatare Wada, Ganapati Road, Ashta
            </h2>
        </div>

    </div>
</div>