<div class="mainClass marginTop">
    <h1>Education Background</h1>
    <div class="innerClass">
        <div class="card">
            <img src="https://futurevolve.com/uploads/college/wide_image/8302/DKTE_Image.JPG"
                alt="Avatar">
            <div class="container">
                <h4><b>DKTE Textile and Engineering Institute,<br> Ichalkaranji</b></h4>
                <p>B.Tech (Information Technology)  62%</p>
                <p class="year">July 2016 to June 2021</p>
            </div>
        </div>
        <div class="card">
            <img src="https://lh5.googleusercontent.com/p/AF1QipNFV5ryfm__1J3xvUiUjS93Z1NKU0bI_WkHyy3o=w1080-k-no"
                alt="Avatar">
            <div class="container">
                <h4><b>Vidyamandir Jr College, Islampur</b></h4>
                <p>H.S.C. (Science)  60%</p>
                <p class="year">August 2014 to May 2016</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ytimg.com/vi/lE0jEU03L5k/maxresdefault.jpg"
                alt="Avatar">
            <div class="container">
                <h4><b>Mahatma Gandhi Vidyalaya, Ashta</b></h4>
                <p>S.S.C  80%</p>
                <p class="year">June 2007 to April 2014</p>
            </div>
        </div>
    </div>
</div>