<div class="mainClass marginTop">
    <h1>Education Background</h1>
    <div class="innerClass">
        <div class="card">
            <img src="https://futurevolve.com/uploads/college/wide_image/8302/DKTE_Image.JPG"
                alt="Avatar">
            <div class="container">
                <h4><b>DKTE Textile and Engineering Institute,<br> Ichalkaranji</b></h4>
                <p>B.Tech (Information Technology)  62%</p>
                <p class="year">July 2016 to June 2021</p>
            </div>
        </div>
        <div class="card">
            <img src="https://lh5.googleusercontent.com/p/AF1QipNFV5ryfm__1J3xvUiUjS93Z1NKU0bI_WkHyy3o=w1080-k-no"
                alt="Avatar">
            <div class="container">
                <h4><b>Vidyamandir Jr College, Islampur</b></h4>
                <p>H.S.C. (Science)  60%</p>
                <p class="year">August 2014 to May 2016</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ytimg.com/vi/lE0jEU03L5k/maxresdefault.jpg"
                alt="Avatar">
            <div class="container">
                <h4><b>Mahatma Gandhi Vidyalaya, Ashta</b></h4>
                <p>S.S.C  80%</p>
                <p class="year">June 2007 to April 2014</p>
            </div>
        </div>
    </div>
</div>

<div class="newMainClass">
    <h2 class="newHeading">Education Background</h2>
    <div class="newDegree">
        <div class="newDegreeImage">
            <img src="https://futurevolve.com/uploads/college/wide_image/8302/DKTE_Image.JPG" alt="">
        </div>
        <div class="newDegreeInfo">
            <p class="college">D.K.T.E. Textile and Engineering Institute, Ichalkaranji</p>
            <p class="degree">B.Tech (Information Technology) <span>62%</span></p>
            <p class="date">July 2016 to May 2021</p>
        </div>
    </div>
    <div class="newDegree" style="justify-content: end;">
        <div class="newDegreeInfo" style="margin-right: -5rem; z-index: 999;">
            <p class="college">Vidyamandir Jr College , Islampur</p>
            <p class="degree">H.S.C. (Information Technology) <span>60%</span></p>
            <p class="date">June 2014 to March 2016</p>
        </div>
        <div class="newDegreeImage">
            <img src="https://lh5.googleusercontent.com/p/AF1QipNFV5ryfm__1J3xvUiUjS93Z1NKU0bI_WkHyy3o=w1080-k-no" alt="">
        </div>
    </div>
    <div class="newDegree">
        <div class="newDegreeImage">
            <img src="https://i.ytimg.com/vi/lE0jEU03L5k/maxresdefault.jpg" alt="">
        </div>
        <div class="newDegreeInfo">
            <p class="college">Mahatma Gandhi Vidyalaya, Ashta</p>
            <p class="degree">S.S.C. <span>80%</span></p>
            <p class="date">July 2007 to May 2014</p>
        </div>
    </div>
</div>