.mainClass {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: math;
    color: #7c93c6;
    text-shadow: rgb(153, 153, 153) 1px 0 3px;
}

h4{
    color: #7c93c6;
    font-size: 20px;
    font-family: math;
}

.card {
    box-shadow: 0px 0px 10px 4px #333f5c;
    transition: 0.3s;
    width: fit-content;
    border-radius: 5px;
    padding: 1rem;
    /* border: 1px solid #7c93c6; */
}

.card:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
    height: 15rem;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

p{
    color: #7c93c6;
    font-size: 20px;
    font-family: math;
}
.year{
    font-size: 20px;
    color: rgb(255, 208, 0);
    font-family: math;
}