/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;400&display=swap");

@font-face {
  font-family: "pridibold";
  src: url("./assets/fonts/pridi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-bold-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pridimedium";
  src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pridimedium";
  src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.shadowBtn:hover {
    box-shadow: 1px 1px 10px 1px white;
    transition: 0.3s;
}

.darkShadow:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 15px 5px #0d1320;
}

.nextBtn {
    text-align: center;
}

.mainBody {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat no-repeat, no-repeat no-repeat;
    background-size: cover;
    /* background-image: url("https://cdn.wallpapersafari.com/70/26/yUqK4N.png"); */
    background-image: linear-gradient(to right, #04131f, #164773);
}

.btnNext {
    padding: 1rem;
    border: 3px solid #aac5ff;
    background-color: #181818;
    border-radius: 10px;
    color: #aac5ff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
    font-family: 'pridimedium';
}

.btnNext:hover {
    border: 3px solid #0d1320;
    background-color: #aac5ff;
    color: #0d1320;
    box-shadow: 1px 1px 10px 1px white;
    transition: 0.3s;
}