<h2 class="marginTop">My Resume</h2>
<div class="image">
    <img src="assets/HarshalShelarResume.jpg" alt="">
</div>
<div class="btnDownload">
    <button class="downloadBtn">
        <a href="assets/HarshalShelarResume.pdf" download><i class="fa fa-download"></i> &nbsp; &nbsp;Download</a>
    </button>
</div>
<div class="prevNextBtn">
    <button class="btnPrevNext" (click)="goBack()"> <i class="fa fa-long-arrow-left backArrow"></i> Activities </button>
    <button class="btnPrevNext" (click)="goNext()">Contact Me <i class="fa fa-long-arrow-right backArrow"></i>  </button>
</div>